version: 2

jobs:
  build:
    docker:
      - image: circleci/elixir:1.9
    working_directory: ~/repo
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix test --trace --cover
      - store_test_results:
          path: ~/repo/ex-stone-openbank/_build/test/lib/ex_stone_openbank/test-junit-report.xml
      # - store_artifacts:
      #     path: /tmp/excoveralls
